<h1>Hey captains</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "blog", blogs_path %>
<%= link_to  "faq", faq_path %>
<%= link_to  "insurance", insurance_path %>
<%= link_to  "disclosure", disclosure_path %>